.zagruska {
    margin-top: 50px !important;
    font-weight: 700;
    font-size: 16px;
    color: #0098DB;
    background: #FFFFFF;
    border: 1px solid #0098DB;
    border-radius: 109px;
    Width: 220px;
    Height: 52px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.ser {
    font-family: 'Gotham Pro';
    font-weight: 700;
    font-size: 32px;
    line-height: 168.22%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #242424;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.sayt {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #242424;
    margin-bottom: 40px;
}

.cer {
    display: flex;
    width: 431px;
    height: 90px;
    left: 864px;
    top: 2225px;
    background: #FFFFFF;
    border: 1px solid #C1E1EF;
    border-radius: 5px;
    margin-top: 20px;
}

.sum {
    font-family: 'Gotham Pro';
    font-weight: 700;
    font-size: 21px;
    color: #242424;
}
.nar{
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-size: 18px;
}
.sozlr{
    margin: 18px 0px 0px 30px;
}
.img{
    margin:10px 0px 0px 30px;
}
.locatsiya{
    width: 700px;
    margin:10px 0px  100px 0px;
}